* {
  box-sizing: border-box;
  color:#ffffff
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  min-width: 100px;
  min-height: 100px;
  background-color: lightpink
}

aside {
  min-width: 100px;
  min-height: 100px;
  background-color: #f77797;
}

main {
  min-width: 100px;
  min-height: 100px;
  background-color: #e6507d;
  padding: 1rem;
}

nav.perfil img {
  width: 100px;
  margin-top: -50px;
  border: 4px solid white;
  border-radius: 50%;
}

nav.perfil img:hover {
  transition: .8s;
  border-radius: 5%;
}

nav.perfil {
  background-size: cover;
  background-position: center;
}

footer {
  min-width: 100px;
  min-height: 100px;
  background-color: lightpink;
}

main .example {
  border: 2px solid rgb(255, 255, 255);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem;
}

main .example .featured {
  grid-column: span 2; 
  grid-row: span 2; 
  height: 215px; 
}

main .example .featured img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}


main .example > div {
  border: 2px solid #ffffff;
  height: 100px; 
}

main .example img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

footer {
  text-align: center;
}