header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: content;
}

footer {
  grid-area: footer;
}

body {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 20vh 1fr 100px;
  grid-template-areas: "header header" "aside  content" "footer footer";
  min-height: 100vh;
  margin: 0;
  border: 0;
}
nav.perfil img {
  width: 100px;
  margin-top: -50px;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
}

nav.perfil img:hover {
  transition: .8s;
  border-radius: 5%;
}

nav.perfil {
  background-size: cover;
  background-position: center;
  padding: 20px;
}

main .example {
  border: 1px solid rgb(255, 255, 255);
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
}

main .example > div {
  border: 4px solid #ffffff;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: ease-in-out .3s;
}

main .example > div:hover {
  transform: scale(1.5);
  z-index: 99;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 50%;
}

main .example > div:first-child {
   grid-area: span 2 / span 2;
}

main .example > div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image-modal {
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  position: fixed;
  overflow: unset;
}

.gallery-image-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2px);
}

.gallery-image-modal .bt-close {
  --size: 3rem;
  --translate: calc(var(--size) / 3 * -1);
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  color: transparent;
  position: absolute;
  right: var(--translate);
  top: var(--translate);
}

.gallery-image-modal .bt-close::after {
  content: "✕";
  color: red;
  font-size: calc(var(--size) / 2);
}

.gallery-image-modal .content img {
  max-height: 90vh;
  max-width: 100%;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-areas: "header" "aside" "content" "footer";
  }
}